[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
parameterized = "*"
codecov = "*"

[packages]
pyyaml = "*"
click = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
create = "python snip.py create"
delete = "python snip.py delete"
test = "python snip.py test"
pull = "python snip.py pull"
build = "python snip.py build"
