[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
parameterized = "*"
pytest-cov = "*"
codecov = "*"
black = "*"

[packages]
pyyaml = "*"
click = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
create = "python create.py"
test = "python judge.py"
pull = "python pull.py"
build = "python make.py"

[pipenv]
allow_prereleases = true
